<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PETiguar</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            background-color: rgb(221, 226, 230);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: 100vh;
        }

        h1 {
            font-size: clamp(1.75em, 1em + 3vw, 2.5em);
        }

        h2 {
            font-size: clamp(1.5em, 0.9em + 2.5vw, 2.25em);
        }

        h3 {
            font-size: clamp(1.25em, 0.8em + 2vw, 2em);
        }

        h4 {
            font-size: clamp(1em, 0.7em + 1.5vw, 1.75em);
        }

        h5 {
            font-size: clamp(0.75em, 0.6em + 1vw, 1.5em);
        }


        a, p {
            font-size: clamp(0.75em, 0.5em + 1vw, 1.25em);
        }

        input::placeholder {
            font-size: clamp(0.75em, 0.5em + 1vw, 1.25em);
        }

        .btnp {
            background-color: rgba(255, 207, 74, 0.918);
            font-weight: bold;
            width: 100%;
            color: rgb(48, 29, 31);
            font-size: clamp(0.75em, 0.5em + 1vw, 1.25em);
        }

        .btnp:hover {
            background-color: rgb(48, 29, 31);
            color: rgba(255, 207, 74, 0.918);
        }

        .petiguar {
            color: rgba(255, 207, 74, 0.918);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .nav-link {
            color: rgb(251, 255, 213);
        }

        .nav-link:hover {
            color: burlywood
        }

        .navbar {
            background-color: rgb(48, 29, 31);
        }

        footer {
            padding: 1.5rem;
            width: 100%;
            bottom: 0;
            background-color: rgb(48, 29, 31);
        }

        #pesquisar {
            width: 10vw;
            border-radius: 1vw 0 0 1vw;
        }

        .postagem {
            padding: 1vw;
            width: 100%;
            margin-bottom: 1rem;
        }
        
        .corpo {
            width: 100%;
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;
        }

        .container-fluid {
            padding: 1rem;
        }

        #logotipo {
            width: clamp(2.75em, 1em + 4vw, 3.5em);
        }

        .container-fluid {
            flex-grow: 3;
        }

        hr {
            background-color: rgba(255, 207, 74, 0.918);
        }

        #post-form {
            width: 90%;
            margin-right: 2rem;
            border-radius: 1rem;
            justify-content: center;
            flex-direction: column;

            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Centralize completamente */
            background-color: #fff; /* Cor de fundo do formulário */
            padding: 2rem;
            z-index: 1001; /* Coloque o formulário acima da camada de fundo */
        }

        #local option {
            position: relative;
        }

        .inputform {
            margin-bottom: 1rem;
        }

        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        .postagem-foto {
            margin-bottom: 1rem;
        }

        @media (max-width: 820px) {
            .postagem {
                display: flex;
                flex-direction: column;
            }
        }
    </style>

</head>

<body>

    <div id="overlay" style="display: none;"></div>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="static/logotipo.png" alt="Logotipo PETiguar" id="logotipo">
                <label for="logotipo"><h5 class="petiguar">Petiguar</h5></label>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div id="post-form" style="display: none;" class="shadow-lg">

        <div class="d-flex justify-content-end">
            <button class="btn btn-danger" id="fechar">Fechar</button>
        </div>

        <form action="/api/postagens" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">

                    <div class="inputform">
                        <h4>Título</h4>
                        <input type="text" name="titulo" class="form-control" id="titulo" required>
                    </div>
                    
                    <div class="inputform">
                        <h4>Seu nome</h4>
                        <input type="text" name="nomeUsuario" id="nomeUsuario" class="form-control" required>
                    </div>

                    <div class="inputform">
                        <h4>Contato</h4>
                        <input type="tel" name="contato" id="contato" class="form-control" required>
                    </div>

                    <div class="inputform">
                        <h4>Localização</h4>
                        <select id="local" name="local" class="form-control" required></select>
                    </div>

                </div>
                
    
                <div class="col-6">
                    <div class="inputform">
                        <h4>Texto</h4>
                        <textarea name="texto" id="texto" cols="30" rows="9" class="form-control" placeholder="Insira detalhes a respeito da publicação" required></textarea>
                    </div>

                    <div class="inputform">
                        <h4>Categoria</h4>
                        <select name="categoria" id="categoria" class="form-control" required>
                            <option value="Desaparecimento">Desaparecimento</option>
                            <option value="Adoção">Adoção</option>
                            <option value="Denúncia">Denúncia</option>
                        </select>
                    </div>

                </div>
                
                </div>

                <div class="d-flex justify-content-center">

                    <div class="inputform" style="flex-direction: column;">
                        <div>
                            <h4>Foto</h4>
                        </div>
                        
                        <div>
                            <input type="file" name="foto" id="foto">
                        </div>
                        
                    </div>

                </div>
                

                <div class="d-flex justify-content-center">
                    <button class="btn btnp" type="submit">Publicar</button>
                </div>

            </form>
            </div>

</div>


    <div class="container-fluid d-flex justify-content-center">
            <div class="col-7 col-sm-7 col-md-8 col-lg-9 d-flex justify-content-center">
                <div class="corpo shadow-lg"> <%- body %> </div>
            </div>

            <div class="col-5 col-sm-5 col-md-4 col-lg-3">

                <div class="card mb-4 d-flex shadow-lg">
                    <div class="card-header navbar">
                        <h5 class="petiguar">Páginas</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul class="list-unstyled text-center">
                                    <li><a href="/">PETiguar</a></li>
                                    <li><a href="/desaparecidos">Desaparecimento</a></li>
                                    <li><a href="/adocao">Adoção</a></li>
                                    <li><a href="/denuncias">Denúncia</a></li>
                                    <li><a href="/contatos">Contatos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 d-flex shadow-lg" style="background-color: rgba(255, 207, 74, 0.918);">
                    <button class="btn btnp" id="add-post-button">Adicionar postagem</button>
                </div>

            </div>


        </div>
            
            

    </div>
    </div>
</div>

    
    <footer>
        <h3 class="text-center petiguar">PETiguar</h3>
        <!-- <p class="text-white text-center">Site desenvolvido por <a href="https://github.com/FabMP">Fabrício Montenegro</a> -->
        </p>
    </footer>

    <script>
        fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados/rn/municipios")
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById("local");
                data.forEach(municipio => {
                    const option = document.createElement("option");
                    option.value = municipio.nome;
                    option.textContent = municipio.nome;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error("Erro ao obter dados:", error))

        document.getElementById("add-post-button").addEventListener("click", function() {
            console.log('oi')
            document.getElementById('overlay').style.display = 'block';
            document.getElementById("post-form").style.display = "flex";
        });

        document.getElementById("fechar").addEventListener("click", function(){
            document.getElementById('overlay').style.display = 'none';
            document.getElementById("post-form").style.display = "none";
        })
    </script>
</body>

</html>