<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="static/favicon.ico">
    <link rel="apple-touch-icon" href="static/favicon.ico">

    <title>MNG LIMO LLC</title>

    <style>
        body {
            background-color: black;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }

        h1 {
            font-size: 6vh;
        }

        h2 {
            font-size: 5vh;
        }

        h3 {
            font-size: clamp(1.25em, 0.8em + 2vw, 2em);
        }

        h4 {
            font-size: clamp(1em, 0.7em + 1.5vw, 1.75em);
        }

        h5 {
            font-size: clamp(0.75em, 0.6em + 1vw, 1.5em);
        }


        a,
        p {
            font-size: 4vh;
        }

        #main {
            padding: 3vh;
            background: linear-gradient(to right, rgb(255, 252, 237) 0%, rgb(15, 15, 15) 95%);
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            border-bottom: solid 0.5vh rgb(255, 209, 81);
            text-shadow: 0vh 0vh 1vh rgb(0, 0, 0);
        }

        #aboutus {
            background: rgb(0, 0, 0);
            padding-bottom: 5vh;
        }

        #fleet {
            background: black;
        }

        #fleetpic {
            box-shadow: 0vh 0vh 3vh rgb(0, 0, 0);
        }

        .sub {
            text-decoration: underline rgb(255, 209, 81);
        }

        .carousel {
            margin-bottom: 5vh;
        }

        .carousel-inner {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .bg-img-1 {
            background-image: url('static/xts.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-2 {
            background-image: url('static/lincoln.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-3 {
            background-image: url('static/mercedes-sclass.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-4 {
            background-image: url('static/bmw-7-series-sedan.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-5 {
            background-image: url('static/tesla-x.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-6 {
            background-image: url('static/rangerover.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-7 {
            background-image: url('static/escalade.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-8 {
            background-image: url('static/navigator.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-9 {
            background-image: url('static/limo.avif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-10 {
            background-image: url('static/suburban.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        .bg-img-11 {
            background-image: url('static/mercedes-metris.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }


        .bg-img-12 {
            background-image: url('static/sprinter.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
        }

        #escalade {
            size: 70%;
        }

        .carousel-image {
            height: 50vh;
        }

        input::placeholder {
            font-size: clamp(0.75em, 0.5em + 1vw, 1.25em);
        }

        .margin {
            margin-top: 8vh;
            margin-bottom: 8vh;
        }

        .btnp {
            background: linear-gradient(rgb(26, 25, 25) 40%, rgb(0, 0, 0) 100%);
            border: silver;
            border-radius: 2vh 2vh 2vh 2vh;
            outline: none;
            width: 60%;
            color: rgb(187, 143, 0);
            font-size: 6vh;
            box-shadow: 2vh 0vh 8vh rgb(0, 0, 0);
            transition: 0.7s;
            font-weight: bold;
        }

        .btnp:hover {
            background: linear-gradient(rgb(255, 153, 0) 40%, rgb(255, 187, 0) 100%);
            color: rgb(0, 0, 0);
            box-shadow: 0vh 0vh 8vh rgba(255, 255, 255, 0.377);
        }

        .send {
            background-color: rgba(243, 183, 19, 0.918);
            border: rgba(243, 183, 19, 0.918);
            border-radius: 2vh 2vh 2vh 2vh;
            outline: none;
            font-weight: bold;
            width: 20vh;
            color: rgba(0, 0, 0, 0.918);
            font-size: 4vh;
            box-shadow: 2vh 0vh 8vh rgb(0, 0, 0);
            transition: 0.3s;
        }

        .send:hover {
            background-color: rgb(0, 0, 0);
            color: rgba(243, 183, 19, 0.918);
            box-shadow: 2vh 0vh 8vh rgba(247, 210, 0, 0.377);
        }

        .click-here {
            color: white;
        }

        .click-here:hover {
            color: rgb(255, 209, 81);
        }

        .marca {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 8vh;
            color: rgba(255, 255, 255, 0.918);
            font-weight: bold;
        }

        .titulo {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            color: rgb(255, 209, 81);
        }

        .nav-link {
            color: rgb(251, 255, 213);
        }

        .nav-link:hover {
            color: silver
        }

        .navbar {
            top: 0;
            display: block;
            width: 100%;
            position: sticky;
            background: linear-gradient(to right, rgb(0, 0, 0) 40%, rgb(39, 31, 16) 60%);
            border-bottom: solid 1vh rgb(255, 205, 69);
            z-index: 20;
        }

        footer {
            padding: 1.5rem;
            width: 100%;
            bottom: 0;
            background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(39, 31, 16) 100%);
        }

        .container-fluid {
            padding: 1rem;
        }

        #logotipo {
            width: clamp(2.75em, 1em + 4vw, 3.5em);
        }

        .container-fluid {
            flex-grow: 3;
        }

        hr {
            background-color: rgba(255, 207, 74, 0.918);
        }

        .menu {
            display: inline;
            padding: 1vh;
        }

        .nav-link {
            color: white;
            font-size: 4vh;
            margin-left: 2vh;
            text-decoration: none;
        }

        .nav-link:hover {
            color: rgba(255, 207, 74, 0.918);
            transition: 0.35s;
            text-decoration: none;
            text-shadow: 0vh 0vh 1vh rgba(243, 183, 19, 0.589);
        }

        .navbar-toggler {
            margin-left: 28vh;
        }

        .fadein {
            animation: fade-in 1.5s;
        }

        #fleetpic {
            width: 100%;
        }

        .bi {
            height: 4vh;
            width: 4vh;
            color: rgba(255, 207, 74, 0.918);
        }

        #limoback {
            width: 90%;
            border-radius: 1vh 1vh 1vh 1vh;
            box-shadow: 0vh 0vh 10vh black;
            border: solid 0.5vh rgba(243, 183, 19, 0.589);
        }

        .hide {
            display: none;
        }

        .hidden-label {
            display: none;
        }

        .navbar-toggler {
            padding: 0;
            margin: 0;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @media (max-width: 992px) {

            #main {
                background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 95%);
            }

            #escalade {
                width: 80%;
            }

            .marca {
                font-size: 6vh;
            }

            .btnp {
                font-size: 4.5vh;
            }

            .send {
                font-size: 4.5vh;
            }

            .contact-info {
                margin-top: 5vh;
            }

            .form-control {
                margin-top: 2vh;
                width: 130%;
                height: 5vh;
            }

            #fleetpic {
                width: 80%;
            }

            #fleetpicdiv {
                display: flex;
                justify-content: center;
            }

            .brand {
                display: flex;
                justify-content: center;
            }

        }

        @media (max-width: 605px) {
            #main {
                width: 100%;
            }



        }

        @media (max-width: 767px) {
            .hidden-label {
                display: block;
                margin-bottom: 3vh;
            }

            .desktop {
                display: none;
            }
        }

        @media (min-width: 768px) {
            .mobile {
                display: none;
            }
        }

    </style>

</head>

<body class="fadein" data-bs-theme="dark">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbrand">

                <a href="/">
                    <img src="static/logo.png" alt="brand" style="width: 18vh;">
                </a>
            </div>



            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>

        
                    <li class="nav-item mobile">
                        <a class="nav-link" href="sms:+18187301967">Book now</a>
                    </li>

                    <li class="nav-item desktop">
                        <a class="nav-link" href="mailto:ddadjkajd@gmail.com">Book now</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <div>
        <div>
            <div class="corpo"> <%- body %> </div>
        </div>



    </div>
    </div>
    </div>


    <footer>
        <div class="d-flex justify-content-center" style="margin-bottom: 2vh;">
            <img src="static/logofooter.png" alt="brand" style="width: 20vw;">
        </div>
        <div class="d-flex justify-content-center">
            <h4>Sherman Oaks, CA</h4>
        </div>
        <div class="d-flex justify-content-center">
            <h4>818-730-1967</h4>
        </div>
        <div class="d-flex justify-content-center">
            <h4>mnglimollc@gmail.com</h4>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>