<%- contentFor('body') %>

<div class="background">
    <h1 class="petiguar" style="color: rgb(48, 29, 31);">Contatos</h1>

    <h3>Corpo de Bombeiros</h3>
    <ul>
        <li>
            <h4>193</h4>
        </li>
    </ul>

    <hr>

    <h3>Secretaria de Saúde do Natal</h3>
    <ul>
        <li><p>(84) 3232-7234</p></li>
        <li><p>(84) 3232-8819</p></li>
    </ul>
    
    <hr>

    <h3>Zoonose de Parnamirim</h3>
    <ul>
        <li><p>(84)3644-8185</p></li>
        <li><p>(84)9 8847-2229</p></li>
    </ul>
    
    <hr>
    
    <h3>Clínicas veterinárias 24h</h3>
    <ul>
        <li><p>(84) 9 8182-5112 - <b>Meu Bichinho</b></p></li>
        <li><p>(84) 2020-6896 - <b>HarmonyVet</b></p></li>
        <li><p>(84) 3302-4245 - <b>HarmonyVet</b></p></li>
    </ul>

  </div>