<%- contentFor('body') %>

<div id="main" style="display: flex; align-items: end; height: 90vh; padding-bottom: 15vh;">
  <div>
      <div style="margin-left: 5vh;">
          <h1 class="font-bold titulo">Step into this royal journey</h1>
          <a href="https://customer.moovs.app/royal-road-limo-services/new/info"><button class="btnp btn">Book now</button></a>
      </div>
  </div>
</div>

<div id="aboutus" style="padding-top: 5vh;">
  <h1 class="marca" style="margin-left: 5vh;">About us</h1>
  <div class="container">
    <section class="row">
      <div class="col-lg-8">
        <p style="font-size: 4vh;">Established in 2015 and based in Los Angeles, Royal Road Limo Services takes pride in delivering exceptional luxury transportation. Our meticulously maintained fleet ensures an unparalleled royal experience for every passenger.

        <p style="font-size: 4vh;">Centrally located, we proudly serve Los Angeles County, Riverside County, Ventura County, Orange County, and beyond. Wherever you need to go, Royal Road Limo Services is your premier choice for elegance and reliability.
          
        <p style="font-size: 4vh;">For inquiries, bookings, or to learn more about our services, reach out to us today. Discover why Royal Road Limo Services is the preferred choice for discerning clients across Southern California.</p>
      </div>
      
      <div style="align-content: center;" class="col-lg-4" id="fleetpicdiv">
        <img src="static/fleet.jpg" alt="Fleet" id="fleetpic">
      </div>
    
    </section>
  </div>
</div>


<section id="fleet" style="margin-left: 5vh">
  <h1 class="marca">Our fleet</h1>
  <h2>Executive Sedan</h2>
  <hr>



<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 5vh;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="d-flex justify-content-center">
  <div class="carousel-inner">

      <div class="carousel-item carousel-image active bg-img-1">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Cadillac XTS</p>
          <h5>Executive Sedan</h5>
        </div>
      </div>
      
      <div class="carousel-item carousel-image bg-img-2">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Lincoln Continental</p>
          <h5>Executive Sedan</h5>
        </div>
      </div>
      
  </div>
</div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<h2>First class</h2>
<hr>

<div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel2" data-slide-to="1"></li>
      <li data-target="#myCarousel2" data-slide-to="2"></li>
      <li data-target="#myCarousel2" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="d-flex justify-content-center">
  <div class="carousel-inner">

      <div class="carousel-item carousel-image active bg-img-3">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Mercedes-Benz S-Class</p>
          <h5>First class</h5>
        </div>
      </div>
      
      <div class="carousel-item carousel-image bg-img-4">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>BMW 7-Series</p>
          <h5>First class</h5>
        </div>
      </div>

      <div class="carousel-item carousel-image bg-img-5">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Tesla Model-X</p>
          <h5>First class</h5>
        </div>
      </div>

      <div class="carousel-item carousel-image bg-img-6">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Range Rover</p>
          <h5>First class</h5>
        </div>
      </div>
      
  </div>
</div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>



<h2>First class SUV</h2>
<hr>

<div id="myCarousel3" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel3" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="d-flex justify-content-center">
  <div class="carousel-inner">

      <div class="carousel-item carousel-image active bg-img-7">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Cadillac Escalade</p>
          <h5>First class SUV</h5>
        </div>
      </div>
      
      <div class="carousel-item carousel-image bg-img-8">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Lincoln Navigator</p>
          <h5>First class SUV</h5>
        </div>
      </div>
      
  </div>
</div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel3" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel3" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<h2>Executive SUV</h2>
<hr>

<div id="myCarousel4" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel4" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="d-flex justify-content-center">
  <div class="carousel-inner">

      <div class="carousel-item carousel-image active bg-img-9">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>GMC Yukon XL</p>
          <h5>Executive SUV</h5>
        </div>
      </div>
      
      <div class="carousel-item carousel-image bg-img-10">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Chevrolet Suburban</p>
          <h5>Executive SUV</h5>
        </div>
      </div>
      
  </div>
</div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel4" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel4" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>



<h2>Executive van</h2>
<hr>

<div id="myCarousel5" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel5" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="d-flex justify-content-center">
  <div class="carousel-inner">

      <div class="carousel-item carousel-image active bg-img-11">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Mercedes-Benz Metris</p>
          <h5>Executive van</h5>
        </div>
      </div>
      
      <div class="carousel-item carousel-image bg-img-12">
        <div class="carousel-caption d-md-block" style="background-color: rgba(0, 0, 0, 0.671);">
          <p>Mercedes-Benz Sprinter</p>
          <h5>Executive van</h5>
        </div>
      </div>
      
  </div>
</div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel5" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel5" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

</section>