<%- contentFor('body') %>

  <div class="background">
    <h1 class="petiguar" style="color: rgb(48, 29, 31);">PETiguar</h1>

    <h4>Como funciona a adoção?</h4>
    <p>Nessa página, ONG's terão acesso para noticiar animais disponíveis para adoção e campanhas. Porém, o usuário também poderá fazer isso! Caso você esteja com uma ninhada e queira doar os filhotes, tenha encontrado uma mãe com cachorrinhos e resolveu dar abrigo enquanto não consegue doá-los, tire fotos, informe um telefone para contato e endereço, ou, novamente, entre em contato com alguma ONG que possa recebê-los.</p>
    
    <hr>

    <h4>Animais perdidos ou em situação de rua, o que fazer?</h4>
    <p>Primeiramente, quando avistar o animalzinho, temos duas opções que podem ajudar o dono na procura! Caso seja um animal dócil, tente pegá-lo, entre em contato com uma ONG e saiba se pode deixá-lo lá, até que o tutor tenha ciência da situação, e possa ir buscá-lo, ou, hospede o cão/gato em sua casa, até que o dono entre em contato! Caso seja um animal agressivo ou reativo, entre em contato com a ONG que pretende deixar o animal, ou, com os bombeiros; ambos saberão fazer o manejo correto.</p>
    
    <hr>
    
    <h4>Como funciona?</h4>
    <p style="margin-bottom: 2vw;">Após decidir o destino, tire uma foto do animal, e adicione nesta página, informe aonde foi encontrado, hora, e diga pra onde será levado (seu endereço ou o endereço e nome da ONG). Caso o animal tenha uma coleira de identificação, facilita muito o trabalho! Tente pegá-lo e ler as informações, e tentar entrar em contato com o dono!</p>
  </div>

  