<%- contentFor('body') %>

<div id="main">
  <div class="container-fluid">
        <div class="limo-and-title row">
          <div class="col-lg-6 d-flex justify-content-center">
            <img src="static/escaladepng.png" alt="Escalade" id="escalade">
          </div>
  
          <div class="col-lg-6 d-flex justify-content-center">
            <div style="display: flex; align-items: center;">

              <div class="text-center">
                <div>
                  <h6 class="font-bold marca">Experience Unparalleled</h6>
                    <h6 class="font-bold marca">Luxury with</h6>
                    <div class="d-flex justify-content-center">
                      <h6 class="font-bold marca" style="width: max-content;">MNG LIMO LLC</h6>
                    </div>
                </div>
                <a href="sms:+18187301967" class="mobile"><button class="btnp btn">Book now</button></a>
                <a href="mailto:mgnlimollc@gmail.com" class="desktop"><button class="btnp btn">Book now</button></a>
              </div>

            </div>
        </div>

      </div>
  </div>
</div>

<div id="aboutus">
  <div class="container-fluid">
    <section class="row d-flex align-items-center">
      <div class="col-lg-6" style="padding: 0;">
        <div class="d-flex justify-content-center">
          <img src="static/mngimage.png" alt="MNG Image" width="80%">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div>
          <h1 class="titulo">At MNG LIMO LLC, we redefine luxury travel with our premier transportation services.</h1>
          <h2>Whether you're planning a business trip, a special event, or simply want to experience the pinnacle of comfort and style, our professional chauffeurs and top-of-the-line fleet are at your service.</h2>
        </div>
      </div>
    
    </section>
  </div>
</div>

     

<section id="fleet">
  <div class="container-fluid">
    <h2 class="titulo">Why Choose Us?</h2>
    <h3 class="sub">Exquisite Fleet</h3>
    <h3><i>Our collection of high-end vehicles includes the latest models of luxury SUVs. Each vehicle is meticulously maintained to ensure a smooth, comfortable, and elegant ride.</i></h3>
  </div>

  <div class="container-fluid d-flex justify-content-center">
    <div class="row d-flex justify-content-center">

        <div class="col-lg">
          <div class="d-flex justify-content-center">
            <div style="margin-bottom: 5vh;">
              <img src="static/escalade.png" alt="2024 Cadillac Escalade ESV" class="imgfleet">
              <h3>2024 Cadillac Escalade ESV</h3>
            </div>
          </div>
  
        <div class="d-flex justify-content-center">
          <div style="margin-bottom: 5vh;">
            <img src="static/navigator.jpg" alt="2024 Lincoln Navigator L" class="imgfleet">
            <h3 class="text-center">2024 Lincoln Navigator L</h3>
          </div>
        </div>
        </div>
  
        <div class="col-lg">
          <div class="d-flex justify-content-center">
          <div style="margin-bottom: 5vh;">
            <img src="static/yukon.jpg" alt="2024 GMC Yukon XL SLT" class="imgfleet">
            <h3 class="text-center">2024 GMC Yukon XL SLT</h3>
          </div>
        </div>
  
        <div class="d-flex justify-content-center">
        <div>
          <img src="static/suburban.jpg" alt="2024 Chevy Suburban RST" class="imgfleet">
          <h3 class="text-center">2024 Chevy Suburban RST</h3>
        </div>
        </div>

        </div>


    </div>
  </div>
  </section>

  <section id="chauffeurs" style="margin-top: 5vh;">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg">
          <div style="margin-bottom: 5vh;">
            <h3 class="sub">Professional Chauffeurs</h3>
            <h3><i>Our team of experienced, courteous, and professionally trained chauffeurs is dedicated to providing you with the highest level of service. They are not just drivers; they are your personal concierges on wheels.</i></h3>
          </div>

          <div>
            <h3 class="sub">Punctuality</h3>
            <h3><i>Time is of the essence, and we value yours. Our commitment to punctuality means you can rely on us to get you to your destination promptly and efficiently.</i></h3>
          </div>
        </div>
        
        <div class="col-lg d-flex align-items-center justify-content-center">
          <img src="static/interior.jpeg" alt="Car interior" width="90%" style="box-shadow: 0vh 0vh 3vh rgb(255, 209, 81); margin-top: 3vh;">
        </div>
      
      </div>
    </div>
  </section>

<div class="container-fluid">
  <section>
    <h3 class="sub">Customization</h3>
    <h3 style="margin-bottom: 5vh;"><i>Every journey with us is tailored to your specific needs and preferences. From the type of vehicle to the route and amenities, we ensure that your experience is unique and personalized.</i></h3>
  
    <h3 class="sub">Safety First</h3>
    <h3><i>Your safety is our top priority. Our vehicles are equipped with the latest safety features and undergo regular inspections and maintenance. Our chauffeurs are trained to handle any situation with professionalism and care.</i></h3>
  </section>

  <hr style="margin: 10vh;">

  <section>
    <h2 class="titulo">Services We Offer</h2>
    <div class="row">

      <div class="col-lg">
        <h3 class="sub">Airport Transfers</h3>
        <h3><i>Begin or end your journey with the seamless comfort of our airport transfer services. We monitor flight schedules to ensure timely pickups and drop-offs.</i></h3>
      
        <h3 class="sub" style="margin-top: 5vh;">Corporate Travel</h3>
        <h3><i>Impress your clients and associates with our executive transportation services. Conduct business on the go in a tranquil and sophisticated environment.</i></h3>
      </div>

      <div class="col-lg d-flex justify-content-center align-items-center">
        <img src="static/airport.jpg" alt="Airport transfer" width="90%" style="box-shadow: 0vh 0vh 3vh rgb(255, 209, 81); object-fit: cover; margin-top: 3vh;">
      </div>
      
    </div>

    <div class="row" style="margin-top: 5vh;">
      <div class="col-lg d-flex justify-content-center">
        <img src="static/opendoor.jpg" alt="Man opening a black car door" width="90%" style="box-shadow: 0vh 0vh 3vh rgb(255, 209, 81); object-fit: cover; margin-top: 3vh; margin-bottom: 5vh;">
      </div>
      <div class="col-lg">
        <div>
          <h3 class="sub">Special Occasions</h3>
          <h3><i>Make your wedding, prom, anniversary, or any special event even more memorable with our luxurious Black SUVs. We add a touch of elegance to every occasion.</i></h3>
        </div>
        <div style="margin-top: 5vh;">
          <h3 class="sub">City Tours</h3>
          <h3><i>Explore the city like never before. Our knowledgeable chauffeurs can guide you through the highlights and hidden gems of your destination in ultimate comfort.</i></h3>
        </div>
      </div>
    </div>


    <div style="margin-top: 5vh;">
      <h3 class="sub">Hourly Rentals</h3>
      <h3><i>Enjoy the flexibility of our hourly rental services. Whether you need a vehicle for a few hours or the entire day, we cater to your schedule.</i></h3>
    </div>
  </section>

  <hr style="margin-top: 10vh;">

  <section style="margin-top:10vh;">
    <h2 class="titulo">Booking Made Easy</h2>
    <h3><i>Reserving your ride with MNG LIMO LLC is simple and hassle-free. You can book by calling / texting our 24/7 customer service team. We offer transparent pricing with no hidden fees, ensuring that you know exactly what to expect.</i></h3>
  </section>

</div>

